.tasks-wrapper-main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(26, 26, 26);
  height: 765px;
  overflow: auto;
  margin: 0;
  border-radius: 1.5%;
  padding: 2%;
}
