.task-main-container {
  font-family: "Kalam", cursive;
  width: 100%;
  border-radius: 1rem;
  height: 75px;
  margin-bottom: 1%;
  display: flex;
  flex-direction: row;
  background-color: rgb(58, 58, 58);
  color: greenyellow;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  position: relative;
}
.create-new-task span {
  position: absolute;
  content: "";
  z-index: -1;
  border-radius: 1rem;
  background-color: rgb(81, 255, 0);
  left: -0.5%;
  top: 0;
  width: 0%;
  height: 0%;
}

.create-new-task:hover {
  cursor: pointer;
}
.create-new-task:hover span {
  transition: width 4.5s ease, height 0.5s ease;
  width: 100%;
  height: 105%;
}

.create-new-task:hover .add-task-icon {
  transform: scale(1.7);
}

.task-main-container input {
  font-family: "Kalam", cursive;
  font-size: 30px;
  margin-left: 1.25%;
  font-weight: bold;
  width: 70%;
  border: none;

  background-color: rgb(41, 41, 41);
  color: white;
}

.task-main-container input:focus {
  outline: 0.2px solid rgb(20, 20, 20);
}

.add-task-icon {
  margin-right: 35px;
  fill: greenyellow;
  transition: transform 4.5s linear;
}

.task-main-container h2 {
  padding-left: 1.5%;
  margin: 0%;
}

.task-icons {
  display: flex;
  width: 20%;
  justify-self: end;
  align-items: center;
  justify-content: space-evenly;
}

.task-icons div {
  border: 1px solid rgba(60, 255, 0, 0.548);
  background-color: rgb(41, 41, 41);
  border-radius: 50%;
  padding: 5px;
  height: 30px;
  width: 30px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-icons div img {
  margin-left: 1000%;
  opacity: 0;
}

.task-icons div:hover img {
  cursor: pointer;
  transition: margin 0.25s ease-out, opacity 1s ease-out;
}
